snippet log "console.log(...)" b
console.log($0)
endsnippet

snippet imp "import" b
import $1 from '$2';
endsnippet

snippet _rc "React Component" b
import React, { Component } from 'react';

class $1 extends Component {
  render() {
    return (
      <div>react component</div>
    );
  }
}

export default $1;
endsnippet

snippet _rpc "React Pure Component" b
import React from 'react';

const $1 = () => (
  <div>react pure component</div>
);

export default $1;
endsnippet

