packages: [
  "advanced-open-file"
  "an-old-hope-syntax"
  "busy-signal"
  "double-tag"
  "emmet"
  "file-icons"
  "git-plus"
  "intentions"
  "linter"
  "linter-eslint"
  "linter-ui-default"
  "open-this"
  "package-sync"
  "prettier-atom"
  "react-es6-snippets"
  "react-snippets"
  "vim-mode-plus"
  "vim-mode-plus-ex-mode"
  "vim-mode-plus-move-selected-text"
]
