# snippets file (not found)
# '.source.js':
#   'Image Link':
#     'prefix': 'iml'
#     'body': """
#       <figure>
#         <a href="$1" target="_blank">
#           <img src="$2" width="$3" height="$4" alt="$5">
#           </a>
#       </figure>
#       """

'.source.js':
  'Import Module':
    'prefix': 'imp'
    'body': "import $1 from '$2';"
  'Import Module':
    'prefix': 'ipf'
    'body': "import $1 from './$1';"
  'Styled Compoment':
    'prefix': 'sty'
    'body': """
      const $1 = styled.$2`
        $3
      `;
      """
  'Import Styled Compoment':
    'prefix': 'ist'
    'body': """
      import styled from 'styled-components';
      """
  'Promise':
    'prefix': 'pro'
    'body': """
      new Promise((resolve, reject) => {

      });
    """
  'Stateless React Compoment':
    'prefix': 'crs'
    'body': """
      import React from 'react';

      const $1 = () => (
        <div></div>
      );

      export default $1;
    """
  'Class React Compoment':
    'prefix': 'crc'
    'body': """
      import React from 'react';

      class $1 extends React.Component {
        render() {
          return (
            <div></div>
          );
        }
      }

      export default $1;
    """
  'Map State To Props (Redux)':
    'prefix': 'mstp'
    'body': """
      const mapStateToProps = state => ({
        $1
      });
    """
  'Import PropTypes':
    'prefix': 'ipt'
    'body': """
      import PropTypes from 'prop-types';
    """
  'PropTypes':
    'prefix': 'prop'
    'body': """
      const propTypes = {
        $1: PropTypes.$2,
      };
    """
  'Default PropTypes':
    'prefix': 'dprop'
    'body': """
      const defaultProps = {
        $1: $2,
      };
    """
