@primary-color: #000;
// @primary-color: #FFF;
@primary-color-highlight: #232323;
// @primary-color-highlight: #f4f4f4;

html {
  background-color: @primary-color;
}
atom-workspace {
  border-radius: 5px;
}

// black background theme
atom-text-editor {
  background: none;

  .gutter {
    background: none;
  }
}

// hide tree view title
body > atom-workspace > atom-workspace-axis > atom-panel-container.left > atom-dock > div > div.atom-dock-mask > div > atom-pane-container > atom-pane > ul {
  display: none;
}

.list-group .selected::before, .list-tree .selected::before {
  background: @primary-color-highlight;
}
atom-pane {
  background: @primary-color;

  .texteditor.tab {
    background: @primary-color;
  }
}
.tree-view {
  background: @primary-color;
}
.title-bar {
  background: @primary-color;
}
.tab-bar {
  background: none;

  .tab .title {
    background: none;
  }
}
.tab-bar .tab.active[data-type$="Editor"] {
  background: @primary-color-highlight;
  color: #e98c29;
  font-weight: bold;
  .title {
    background: @primary-color-highlight;
  }
}

// when splitting screens, this makes it easy to identify which pane is active
.pane {
  .gutter,
  ul.tab-bar, .editor {
    opacity: 0.4;
  }
}
.pane.active, .pane:only-child {
  .gutter, .editor {
    opacity: 1
  }
  ul.tab-bar {
    opacity: 1;
  }
}
.status-bar {
  background-color: @primary-color;
}
// but border around atom to match hyper
atom-workspace {
  border: 1px solid rgb(51, 51, 51);
}
